@charset "utf-8";



#navbar {

	color:#333333;
	border-bottom:1px solid #D5D5D5;
	background-color:#373E46; 
	padding:15px 0px;

}

#nav {
	background-color:#373E46; 
	list-style:none;
}
#nav ul, #nav li {

	float:left; 
	list-style:none; 
	margin:0; 
	padding:0;
	display: inline;
}

#nav li a:link, #nav li a:visited, #nav li a:hover { 
	margin:0 35px 0 0; 
	font-size:14px; 
	text-transform:uppercase; 
	color:#FFFFFF; 
	background-color:#373E46;
	display: inline;
}



